
.projects-container img{
  width:100%;
  //height: 100%;
  max-width:40vh;
  margin:auto;
}

.parallax{
  @media(max-width: 991.98px){
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  }
}

.overlay-text{
  color: #f0f4ff !important;
  font-size: 7vw !important;
  //margin: 10vh 40vw 10vh 10vw !important;
  
  @media (max-width: 600px){
    font-size: 12vw !important;
    margin: 0 !important;
    transition: position  1.5s, padding 1.5s;
    }
    
  .think-bigger{
    padding: 10vh 0 0 20% !important;
    @media (max-width: 600px){
      padding: 1rem 0.5rem 0 0.5rem!important;
      }
    }
  
  .learn-everything{
    color: #f0f4ff !important;
    text-align: right !important;
    padding-top: 60vh !important; 
     @media (max-width: 600px){
      text-align: right !important;
      padding: 20rem 0.5rem 1rem 0.5rem !important; 
      } 
    }
}

.alert-note{
  background: radial-gradient(circle, rgba(249,249,249,0.85) 57%, rgba(240,244,255,0.5) 100%);
  h3{
    color: #1976d2;
  }
}

.featured-image{
 max-height: 40vh; 
 width: auto;
}

//dark mode is illegible without this

blockquote{
  //background-color: rgba(76,201,240,.1) !important;
  //color: white;
}


.col-12{
  img{  
      //max-width: 80%;
      max-height: 50vh;
    }
    
  @media (max-width: 600px){
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    
  }
}

//Make article titles smaller
.article-container h1{
  font-size: 1.2em;
}
